html {
  font-size: 62.5%; /* font-size 1rem = 10px on default browser settings */
  font-family: "微软雅黑";
}

#clickShow {
	
	    display: none;
    text-align: center;
    color: white;
    font-size: .15rem;
    position: absolute;
    margin: auto;
    background-size: 100% 100%;
    background-image: url(../img/dialogbg.png); no-repeat;
    padding-left: .15rem;
    padding-right: .15rem;
    
	/*border-radius: 7px 7px 7px 7px; 
	-moz-border-radius: 7px 7px 7px 7px; 
	-webkit-border-radius: 7px 7px 7px 7px; 
	border: 2px outset #800000;*/
}

#overlay {
	width: 100%; height: 100%;
	background-color: #FFFFFF;
	opacity: .7;
	bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    display: none;
}

.yinL {
	position: absolute;
	display: none;
   width: .5rem;
    height: .3rem;
    text-align: center;
	background-size:100% 100%;
	background-image: url(../skin/yinlian.png); no-repeat;
}

.titbg {
	
    color: #CFFEFE;
    margin: auto;
    position: relative;
    top: 80%;
    text-align: center;
    width: 90%;
    height: 70%;
    padding-top: 10%;
    background-size: 100% 100%;
    background-image: url(../img/yinlianbg.png); no-repeat;
    font-size: .11rem;
}

.yinLNum {
    position: relative;
    top: .7rem;
	max-height: 50%; width: auto;
}

.friTit {
	
    position: relative;
    top: 7%;
    margin: auto;
    width: 45%;
    height: 20%;
    background-size: 100% 100%;
    background-image: url(../img/friTit.png); no-repeat;
}


.clip-circle {
	
		max-width: 100%;
    max-height: 100%;
    
    position: relative;
    top: -.32rem;
    
	-webkit-clip-path: circle(.27rem at center);
	-moz-clip-path: circle(.27rem at center);
	-o-clip-path: circle(.27rem at center);
	clip-path: circle(.27rem at center);
}

.clip-circle.user {
	
	    top: -.62rem;
	-webkit-clip-path: circle(.15rem  at center);
	-moz-clip-path: circle(.15rem  at center);
	-o-clip-path: circle(.15rem  at center);
	clip-path: circle(.15rem  at center);
	
}


#clofri {
	
	position: absolute; 
	    top: .09rem;
    right: .05rem;
    width: .25rem;
    height: .25rem;
    background-size:100% 100%;
	background-image: url(../img/cloFri.png); no-repeat;
	
}


.friendsP {
	
    display: none;
    position: absolute; margin: auto; top: 0; left: 0; bottom: 0; right: 0;
    background-size:100% 100%;
	background-image: url(../img/dialogbg.png); no-repeat;
    text-align: center; color: white;
    width: 80%;	
    height: 2rem;
    
	/*border-radius: 7px 7px 7px 7px; 
	-moz-border-radius: 7px 7px 7px 7px; 
	-webkit-border-radius: 7px 7px 7px 7px; 
	border: 2px outset #800000;*/
}


.picCon {
	
    display: inline-block;
    position: relative;
    margin: auto;
    padding-top: 10%;
}


.friendP {
	
    width: .6rem;
    height: .6rem;
    display: inline-block;
    background-size: 100% 100%;
    background-image: url(../img/friPic.png); no-repeat;
    margin-right: .03rem;
    margin-left: .03rem;
}


.friendImg {
    max-width: 5rem;
    height: auto;
    padding-left: 1rem;
}


.btnCon {
	
    margin: auto;
    position: absolute;
    top: .8rem;
    padding-left: .2rem;
    padding-right: .2rem;
}


#changeFir {

    float: left;
    max-width: 40%;
    height: auto;
    position: relative;
    top: .6rem;  left: .1rem;
}


#invite {
	
   float: right;
    max-width: 40%;
    height: auto;
    position: relative;
    top: .6rem;  right: .1rem;
}


#gobtn {
	
	padding-top: .03rem;
    color: white;
    width: .8rem;
    height: .2rem;
    background-size: 100% 100%;
    background-image: url(../img/btnbg.png); no-repeat;
}

#gobtn2 {
	
	border-radius: 15px 2px 15px 2px; 
	-moz-border-radius: 15px 2px 15px 2px; 
	-webkit-border-radius: 15px 2px 15px 2px; 
	border: 2px solid #E3A617;
	
	padding-left: 3px; padding-right: 3px; padding-top: 2px; padding-bottom: 2px;
	
	display: inline-block;
	
	position: relative; bottom: .5rem; top: 0; left: 0; right: 0; margin: auto;
	
	/* IE10+ */ 
	background-image: -ms-linear-gradient(top, #f3e2c7 0%, #C19E67 50%, #e9d4b3 100%);
	
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #f3e2c7 0%, #C19E67 50%, #e9d4b3 100%);
	
	/* Opera */ 
	background-image: -o-linear-gradient(top, #f3e2c7 0%, #C19E67 50%, #e9d4b3 100%);
	
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f3e2c7), color-stop(50, #C19E67), color-stop(100, #e9d4b3));
	
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #f3e2c7 0%, #C19E67 50%, #e9d4b3 100%);
	
	/* W3C Markup */ 
	background-image: linear-gradient(to bottom, #f3e2c7 0%, #C19E67 50%, #e9d4b3 100%);
		
}

#trea {
	display: none;
	max-width: 13%; height: auto; position: absolute;
}

.packageInfo {
	
	/*background-color: #FFFFFF;*/
		display: none;
 		width: .65rem;
    height: .3rem;
		position: absolute;
	  top: 2%;
    right: 3%;
    
	/*border-radius: 7px 7px 20px 7px; 
	-moz-border-radius: 7px 7px 20px 7px; 
	-webkit-border-radius: 7px 7px 20px 7px; 
	border: 2px outset #800000;*/
}


#yinlianNum {
	
	background-size: 100% 100%;
    background-image: url(../img/yinLnum.png); no-repeat;
    
}

/*.packageInfo >img {
	max-width: 32%; height: auto; float: left;
}*/

.packageInfo >p {
	
    font-size: .15rem;
    position: absolute;
    top: -.09rem;
    left: 50%;
    color: white;
}

.packageInfo.trea {
	
	position: absolute;
    left: 3%;
    top: 85%;
		width: .3rem;
    height: .3rem;
    right: 27%;
    background-size: 100% 100%;
    background-image: url(../img/baoX.png); no-repeat;
}

.packageInfo.treaNum {
		
    right: 27%;
    background-size: 100% 100%;
    background-image: url(../img/baoXnum.png); no-repeat;
}


.userInfo {
	
	display: none;
	position: absolute; top: 3%; left: 3%;
	color: white;
    width: .9rem;
    height: .3rem;
    background-size: 100% 100%;
    background-image: url(../img/titile.png); no-repeat;
}

.userPic {
    margin-left: -.03rem;
	float: left;
    width: .3rem;
    height: .3rem;
    display: inline-block;
    background-size: 100% 100%;
    background-image: url(../img/friPic.png); no-repeat;
    margin-right: 5%;
}

.userName {
	
	margin-top: 0;
	position: relative;
	top: .08rem;
	font-size: .1rem;
	
}

.chatDiv {
	
	display: none;
	position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 100%;
    width: 99%;
    height: .3rem;
    background-size: 100% 100%;
    background-image: url(../img/chat.png); no-repeat;
	
}

.chatBg {
	
	float: left;
    position: absolute;
    top: 3%;
    left: 1%;
    width: 81%;
    height: 90%;
    background-size: 100% 100%;
    background-image: url(../img/txtbg.png); no-repeat;
}

#sentTxt {
	
	position: absolute;
	  height: 98%;
    width: 15%;
    right: 0;
    
   /* background-size: 100% 100%;
    background-image: url(../img/sentTxt.png); no-repeat;*/
}

#chatIcon {
	
	display: none;
	position: absolute;
	right: 5%; top: 85%;
	    width: .3rem;
    height: .3rem;
	background-size: 100% 100%;
	background-image: url(../img/chatIcon.png); no-repeat;
	
}


#VR {
	
	display: none;
	position: absolute;
	right: 5%; bottom: 18%;
	    width: .3rem;
    height: .3rem;
	background-size: 100% 100%;
	background-image: url(../img/VR.png); no-repeat;
	
}


.chatTxtVal {
	
	float: left;
    position: absolute;
    top: 3%;
    left: 1%;
	width: 85%; height: 98%;
	    font-size: .17rem;
}

.chatUI {
	
	display: inline-block;
	font-size: 1.5rem;
	/*background-color: white;*/
	background:rgba(255,255,255,.8);
	color: black;
	
}

.chatContent {
	
	    margin-right: .1rem;
    position: relative;
    top: -.23rem;
    left: .3rem;
    float: left;
	
		
}

.chatShow {
	
	  display: inline-block;
	  border: 2px outset #1E865C;
    font-size: .15rem;
    /* background-color: white; */
    background: rgba(255,255,255,.8);
    color: black;
    position: absolute;
    top: 100%;
    left: 50%;
    color: black;
    width: auto;
    height: .3rem;
}

.gameInfo {
	
	display: none;
    text-align: center;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 2rem;
    height: 2rem;
    background-size: 100% 100%;
    background-image: url(../img/gameInfo.png); no-repeat;	
	
}

.gameInfo >p {
	
    font-size: .15rem;
    /* width: 1.5rem; */
    color: white;
    /* margin-top: 20%; */
    margin: auto;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    top: .5rem
}

#begin {
	
	 position: absolute;
	 margin: auto;
    left: 0;
    right: 0;
    bottom: 15%;
    max-width: .7rem;
    height: auto;
}
