html {
  font-size: 62.5%; /* font-size 1rem = 10px on default browser settings */
}

#clickShow {
	
	display: none;
	text-align: center; color: white; font-size: 1.5rem; position: absolute; margin: auto; 
	background-size:100% 100%;
	background-image: url(../img/dialogbg.png); no-repeat;
    padding-left: .5rem;
    padding-right: .5rem;
    
	/*border-radius: 7px 7px 7px 7px; 
	-moz-border-radius: 7px 7px 7px 7px; 
	-webkit-border-radius: 7px 7px 7px 7px; 
	border: 2px outset #800000;*/
}

#overlay {
	width: 100%; height: 100%;
	background-color: #FFFFFF;
	opacity: .7;
	bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    display: none;
}

.yinL {
	position: absolute;
	display: none;
    width: 17vw;
    height: 9vh;
    text-align: center;
	background-size:100% 100%;
	background-image: url(../skin/yinlian.png); no-repeat;
}

.titbg {
	color: #CFFEFE;
	    margin: auto;
    position: relative;
    top: 70%;
    text-align: center;
    width: 90%;
    height: 50%;
    padding-top: 10%;
	background-size:100% 100%;
	background-image: url(../img/yinlianbg.png); no-repeat;
}

.yinLNum {
    position: relative;
    top: .7rem;
	max-height: 50%; width: auto;
}

.friTit {
	
    position: relative;
    top: 7%;
    margin: auto;
    width: 45%;
    height: 20%;
    background-size: 100% 100%;
    background-image: url(../img/friTit.png); no-repeat;
}


.clip-circle {
	
	max-width: 100%;
    max-height: 100%;
    
	-webkit-clip-path: circle(9vw at center);
	-moz-clip-path: circle(9vw at center);
	-o-clip-path: circle(9vw at center);
	clip-path: circle(9vw at center);
}

.clip-circle.user {
	-webkit-clip-path: circle(5.5vw at center);
	-moz-clip-path: circle(5.5vw at center);
	-o-clip-path: circle(5.5vw at center);
	clip-path: circle(5.5vw at center);
}


.friendsP {
	
    display: none;
    position: absolute; margin: auto; top: 0; left: 0; bottom: 0; right: 0;
    background-size:100% 100%;
	background-image: url(../img/dialogbg.png); no-repeat;
    text-align: center; color: white;
    width: 80%;	
    height: 40vh;
    
	/*border-radius: 7px 7px 7px 7px; 
	-moz-border-radius: 7px 7px 7px 7px; 
	-webkit-border-radius: 7px 7px 7px 7px; 
	border: 2px outset #800000;*/
}


.picCon {
	
    display: inline-block;
    position: relative;
    margin: auto;
    padding-top: 10%;
}


.friendP {
	
    width: 20vw;
    height: 20vw;
    display: inline-block;
    background-size: 100% 100%;
    background-image: url(../img/friPic.png);
    margin-right: .5rem;
    margin-left: .5rem;
}


.friendImg {
    max-width: 5rem;
    height: auto;
    padding-left: 1rem;
}


.btnCon {
	
    margin: auto;
    position: relative;
    top: 10%;
}


#changeFir {

    width: 35%;
}


#invite {
	
    width: 35%;
}


#gobtn {
	
	padding-top: 5px;
    color: white;
    width: 8rem;
    height: 2rem;
    background-size: 100% 100%;
    background-image: url(../img/btnbg.png); no-repeat;
}

#gobtn2 {
	
	border-radius: 15px 2px 15px 2px; 
	-moz-border-radius: 15px 2px 15px 2px; 
	-webkit-border-radius: 15px 2px 15px 2px; 
	border: 2px solid #E3A617;
	
	padding-left: 3px; padding-right: 3px; padding-top: 2px; padding-bottom: 2px;
	
	display: inline-block;
	
	position: relative; bottom: .5rem; top: 0; left: 0; right: 0; margin: auto;
	
	/* IE10+ */ 
	background-image: -ms-linear-gradient(top, #f3e2c7 0%, #C19E67 50%, #e9d4b3 100%);
	
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #f3e2c7 0%, #C19E67 50%, #e9d4b3 100%);
	
	/* Opera */ 
	background-image: -o-linear-gradient(top, #f3e2c7 0%, #C19E67 50%, #e9d4b3 100%);
	
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f3e2c7), color-stop(50, #C19E67), color-stop(100, #e9d4b3));
	
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #f3e2c7 0%, #C19E67 50%, #e9d4b3 100%);
	
	/* W3C Markup */ 
	background-image: linear-gradient(to bottom, #f3e2c7 0%, #C19E67 50%, #e9d4b3 100%);
		
}

#trea {
	display: none;
	max-width: 10%; height: auto; position: absolute;
}

.packageInfo {
	
	/*background-color: #FFFFFF;*/
	
    width: 20vw;
    height: 5.6vh;
		position: absolute;
	  top: 2%;
    right: 3%;
    
	/*border-radius: 7px 7px 20px 7px; 
	-moz-border-radius: 7px 7px 20px 7px; 
	-webkit-border-radius: 7px 7px 20px 7px; 
	border: 2px outset #800000;*/
}


#yinlianNum {
	
	background-size: 100% 100%;
    background-image: url(../img/yinLnum.png); no-repeat;
    
}

/*.packageInfo >img {
	max-width: 32%; height: auto; float: left;
}*/

.packageInfo >p {
	
	position: absolute;
    top: -.5rem;
    left: 50%;
    color: white;
}

.packageInfo.trea {
	
	position: absolute;
    left: 3%;
    top: 85%;
		width: 3rem;
    height: 3rem;
    right: 27%;
    background-size: 100% 100%;
    background-image: url(../img/baoX.png); no-repeat;
}

.packageInfo.treaNum {
		
    right: 27%;
    background-size: 100% 100%;
    background-image: url(../img/baoXnum.png); no-repeat;
}

.userInfo {
	
	position: absolute; top: 3%; left: 3%;
	color: white;
    width: 30vw;
    height: 5vh;
    background-size: 100% 100%;
    background-image: url(../img/titile.png); no-repeat;
}

.userPic {
	margin-top: -5%;
	float: left;
    width: 12vw;
    height: 12vw;
    display: inline-block;
    background-size: 100% 100%;
    background-image: url(../img/friPic.png); no-repeat;
    margin-right: 5%;
}

.userName {
	
	margin-top: 0;
	position: relative;
	top: .8rem;
	font-size: 1.7vh;
	
}

.chatDiv {
	
	display: none;
	position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 100%;
    width: 99%;
    height: 3rem;
    background-size: 100% 100%;
    background-image: url(../img/chat.png); no-repeat;
	
}

.chatBg {
	
	float: left;
    position: absolute;
    top: 3%;
    left: 1%;
    width: 81%;
    height: 90%;
    background-size: 100% 100%;
    background-image: url(../img/txtbg.png); no-repeat;
}

#sentTxt {
	
	position: absolute;
	  height: 98%;
    width: 15%;
    right: 0;
   /* background-size: 100% 100%;
    background-image: url(../img/sentTxt.png); no-repeat;*/
}

#chatIcon {
	
	position: absolute;
	right: 5%; bottom: 10%;
	    width: 3rem;
    height: 3rem;
	background-size: 100% 100%;
	background-image: url(../img/chatIcon.png); no-repeat;
	
}


#VR {
	
	position: absolute;
	right: 5%; bottom: 18%;
	    width: 3rem;
    height: 3rem;
	background-size: 100% 100%;
	background-image: url(../img/VR.png); no-repeat;
	
}


.chatTxtVal {
	
	float: left;
    position: absolute;
    top: 3%;
    left: 1%;
	width: 85%; height: 98%;
	
}

.chatUI {
	
	display: inline-block;
	font-size: 1.5rem;
	background-color: white;
	color: black;
	
}

.gameInfo {
	display: none;
	    padding-left: .7rem;
    padding-right: .7rem;
	    text-align: center;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 70vw;
    height: 40vh;
    background-size: 100% 100%;
    background-image: url(../img/gameInfo.png); no-repeat;	
	
}

.gameInfo >p {
	
    font-size: 4.5vw; color: white;  margin-top: 20%;
}

#begin {
	
	 position: absolute;
	 margin: auto;
    left: 0;
    right: 0;
    bottom: 15%;
    max-width: 20vw;
    height: auto;
}
